<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>

    <test name="Validate Brands">
        <classes>
        </classes>
    </test>

    <test name="Validating Cases">
        <classes>
            <class name="api_tests.eventBusOrder"/>
        </classes>
    </test>

<!--    <test name="App Testing">-->
<!--        <classes>-->
<!--            <class name="ui_tests.vtex.admitOne"/>-->
<!--        </classes>-->
<!--    </test>-->
    <!-- Test -->

</suite>
